<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="FilePath" value="~//Excel"/>
  </appSettings>
  
  <connectionStrings>
    <add name="con" connectionString="server=localhost;uid=SA;pwd=abcd;database=Project_SMS" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <sessionState timeout="15"></sessionState>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>